<div class="container margin-top-40">
  <div class="row">
    <div class="col-md-4 bordered">
      <h6><p class="padding-10">Network</p></h6>
      <app-network [dataArray]="networkData"></app-network>
    </div>
    <div class="col-md-8 bordered">
      <h6><p class="padding-10">Timeline<p></p></h6>
      <app-timeline [dataArray]="timelineData"></app-timeline>
      <div class="margin-top-10"></div>
      <h6><p class="padding-10">Scatterplot</p></h6>
      <app-scatterplot [dataArray]="scatterPlotData"></app-scatterplot>

    </div>
  </div>
</div>
